@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #01162a;
  color: #ccba7c;
  font-family: Arial, sans-serif;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #254073;
  color: #ccba7c;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.search-bar {
  background-color: #254073;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105vh;
}

#search-input {
  width: 103vh;
  height: 40px;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.search-button {
  background-color: #de9b35;
  color: #0c0f12;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 40px;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
}

#list-holder {
  position: absolute;
  top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  overflow: auto;
  max-height: 48vh;
  text-align: left;
}

#dropdown {
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 1.6vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button.more-info-button {
  background-color: #de9b35; /* Green background color */
  border: none; /* Remove borders */
  color: black; /* White text color */
  padding: 5px; /* Add padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make sure button is inline */
  font-size: 12px; /* Set font size */
  margin-left: 10px; /* Add some margin to the left */
  border-radius: 5px;

  max-height: 25px;
}

.skin-image {
  width: 80px; /* Change the value to the desired width */
  height: 80px; /* Change the value to the desired height */
  align-items: center;
}

ul {
  list-style-type: none; /* remove bullet point */
}
